@import "tailwindcss";
@plugin "daisyui";



body {
  font-family: 'Inter';
}

.font-poppins {
    font-family: 'Poppins';
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  color: #1a1a1a;
  font-size: 24px; 
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 8px;
}

.image{
  height: 500px ;
  width: 600px;
}


p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #f1f1f1;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 12px;
  text-align: center;
}





.gold-text{
  color:#d4af37;
}

.button {
  background-color: #d4af37;
  color: #1a1a1a; 
  font-weight: 700;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.6), 0 0 40px rgba(56, 189, 248, 0.4);
  background-color: #e3c45b; 
}


.button:disabled {
 background-color: #cccccc !important; 
  color: #444444 !important;
  border: 2px solid #888888;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
  cursor: not-allowed;
  opacity: 1 !important; 
}
